<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img [src]= "post?.imageUrl">
        </div>
        <div class="col-lg-6">
            <h3>{{ post?.profile?.firsName}} {{post?.profile?.lastName}}</h3>
            <h5>Description: {{post?.postDescription}}</h5>
            <app-reactions [numberOfReactions]="post?.numberOfReactions" [postId]="post?.postId"></app-reactions>
            
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary" (click)="postComment(post.postId)">Post Comment</button>
            <app-comment-list></app-comment-list>
            
        </div>
    </div>
</div>
